{
  "openapi": "3.0.0",
  "info": {
    "title": "SpaceTraders API",
    "description": "SpaceTraders is an open-universe game and learning platform that offers a set of HTTP endpoints to control a fleet of ships and explore a multiplayer universe.\n\nThe API is documented using [OpenAPI](https://github.com/SpaceTradersAPI/api-docs). You can send your first request right here in your browser to check the status of the game server.\n\n```json http\n{\n  \"method\": \"GET\",\n  \"url\": \"https://api.spacetraders.io/v2\",\n}\n```\n\nUnlike a traditional game, SpaceTraders does not have a first-party client or app to play the game. Instead, you can use the API to build your own client, write a script to automate your ships, or try an app built by the community.\n\nWe have a [Discord channel](https://discord.com/invite/jh6zurdWk5) where you can share your projects, ask questions, and get help from other players.\n\n\n",
    "contact": {
      "name": "Joel Brubaker",
      "email": "joel@spacetraders.io"
    },
    "license": {
      "name": "No Permission",
      "url": "https://choosealicense.com/no-permission/"
    },
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.spacetraders.io/v2",
      "description": "v2"
    }
  ],
  "security": [
    {
      "AgentToken": []
    }
  ],
  "tags": [
    {
      "name": "Agents",
      "description": "Agents"
    },
    {
      "name": "Contracts",
      "description": "Contracts"
    },
    {
      "name": "Factions",
      "description": "Factions"
    },
    {
      "name": "Fleet",
      "description": "Fleet"
    },
    {
      "name": "Systems",
      "description": "Systems"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": [],
        "summary": "Get Status",
        "description": "Return the status of the game server.\nThis also includes a few global elements, such as announcements, server reset dates and leaderboards.",
        "operationId": "get-status",
        "responses": {
          "200": {
            "description": "Fetched status successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "announcements",
                    "description",
                    "leaderboards",
                    "links",
                    "resetDate",
                    "serverResets",
                    "stats",
                    "status",
                    "version"
                  ],
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "The current status of the game server."
                    },
                    "version": {
                      "type": "string",
                      "description": "The current version of the API."
                    },
                    "resetDate": {
                      "type": "string",
                      "description": "The date when the game server was last reset."
                    },
                    "description": {
                      "type": "string"
                    },
                    "stats": {
                      "required": [
                        "agents",
                        "ships",
                        "systems",
                        "waypoints"
                      ],
                      "type": "object",
                      "properties": {
                        "agents": {
                          "type": "integer",
                          "description": "Number of registered agents in the game."
                        },
                        "ships": {
                          "type": "integer",
                          "description": "Total number of ships in the game."
                        },
                        "systems": {
                          "type": "integer",
                          "description": "Total number of systems in the game."
                        },
                        "waypoints": {
                          "type": "integer",
                          "description": "Total number of waypoints in the game."
                        }
                      }
                    },
                    "leaderboards": {
                      "required": [
                        "mostCredits",
                        "mostSubmittedCharts"
                      ],
                      "type": "object",
                      "properties": {
                        "mostCredits": {
                          "type": "array",
                          "description": "Top agents with the most credits.",
                          "items": {
                            "required": [
                              "agentSymbol",
                              "credits"
                            ],
                            "type": "object",
                            "properties": {
                              "agentSymbol": {
                                "type": "string",
                                "description": "Symbol of the agent."
                              },
                              "credits": {
                                "type": "integer",
                                "description": "Amount of credits.",
                                "format": "int64"
                              }
                            }
                          }
                        },
                        "mostSubmittedCharts": {
                          "type": "array",
                          "description": "Top agents with the most charted submitted.",
                          "items": {
                            "required": [
                              "agentSymbol",
                              "chartCount"
                            ],
                            "type": "object",
                            "properties": {
                              "agentSymbol": {
                                "type": "string",
                                "description": "Symbol of the agent."
                              },
                              "chartCount": {
                                "type": "integer",
                                "description": "Amount of charts done by the agent."
                              }
                            }
                          }
                        }
                      }
                    },
                    "serverResets": {
                      "required": [
                        "frequency",
                        "next"
                      ],
                      "type": "object",
                      "properties": {
                        "next": {
                          "type": "string",
                          "description": "The date and time when the game server will reset."
                        },
                        "frequency": {
                          "type": "string",
                          "description": "How often we intend to reset the game server."
                        }
                      }
                    },
                    "announcements": {
                      "type": "array",
                      "items": {
                        "required": [
                          "body",
                          "title"
                        ],
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string"
                          },
                          "body": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "required": [
                          "name",
                          "url"
                        ],
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {},
          {
            "AgentToken": []
          }
        ]
      }
    },
    "/register": {
      "post": {
        "tags": [],
        "summary": "Register New Agent",
        "description": "Creates a new agent and ties it to an account. \nThe agent symbol must consist of a 3-14 character string, and will be used to represent your agent. This symbol will prefix the symbol of every ship you own. Agent symbols will be cast to all uppercase characters.\n\nThis new agent will be tied to a starting faction of your choice, which determines your starting location, and will be granted an authorization token, a contract with their starting faction, a command ship that can fly across space with advanced capabilities, a small probe ship that can be used for reconnaissance, and 150,000 credits.\n\n> #### Keep your token safe and secure\n>\n> Save your token during the alpha phase. There is no way to regenerate this token without starting a new agent. In the future you will be able to generate and manage your tokens from the SpaceTraders website.\n\nIf you are new to SpaceTraders, It is recommended to register with the COSMIC faction, a faction that is well connected to the rest of the universe. After registering, you should try our interactive [quickstart guide](https://docs.spacetraders.io/quickstart/new-game) which will walk you through basic API requests in just a few minutes.",
        "operationId": "register",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "faction",
                  "symbol"
                ],
                "type": "object",
                "properties": {
                  "faction": {
                    "$ref": "#/components/schemas/FactionSymbol"
                  },
                  "symbol": {
                    "maxLength": 14,
                    "minLength": 3,
                    "type": "string",
                    "description": "Your desired agent symbol. This will be a unique name used to represent your agent, and will be the prefix for your ships.",
                    "example": "BADGER"
                  },
                  "email": {
                    "type": "string",
                    "description": "Your email address. This is used if you reserved your call sign between resets."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Succesfully registered.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "required": [
                        "agent",
                        "contract",
                        "faction",
                        "ship",
                        "token"
                      ],
                      "type": "object",
                      "properties": {
                        "agent": {
                          "$ref": "#/components/schemas/Agent"
                        },
                        "contract": {
                          "$ref": "#/components/schemas/Contract"
                        },
                        "faction": {
                          "$ref": "#/components/schemas/Faction"
                        },
                        "ship": {
                          "$ref": "#/components/schemas/Ship"
                        },
                        "token": {
                          "type": "string",
                          "description": "A Bearer token for accessing secured API endpoints."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/systems": {
      "get": {
        "tags": [
          "Systems"
        ],
        "summary": "List Systems",
        "description": "Return a paginated list of all systems.",
        "operationId": "get-systems",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "What entry offset to request",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "How many entries to return per page",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 20,
              "minimum": 1,
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully listed systems.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data",
                    "meta"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/System"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "description": ""
                }
              }
            }
          }
        },
        "security": [
          {},
          {
            "AgentToken": []
          }
        ]
      }
    },
    "/systems/{systemSymbol}": {
      "get": {
        "tags": [
          "Systems"
        ],
        "summary": "Get System",
        "description": "Get the details of a system.",
        "operationId": "get-system",
        "responses": {
          "200": {
            "description": "Successfully fetched the system.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/System"
                    }
                  },
                  "description": ""
                }
              }
            }
          }
        },
        "security": [
          {},
          {
            "AgentToken": []
          }
        ]
      },
      "parameters": [
        {
          "name": "systemSymbol",
          "in": "path",
          "description": "The system symbol",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string",
            "default": "X1-OE"
          }
        }
      ]
    },
    "/systems/{systemSymbol}/waypoints": {
      "get": {
        "tags": [
          "Systems"
        ],
        "summary": "List Waypoints in System",
        "description": "Return a paginated list of all of the waypoints for a given system.\n\nIf a waypoint is uncharted, it will return the `Uncharted` trait instead of its actual traits.",
        "operationId": "get-system-waypoints",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "What entry offset to request",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "How many entries to return per page",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 20,
              "minimum": 1,
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter waypoints by type.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/WaypointType"
            }
          },
          {
            "name": "traits",
            "in": "query",
            "description": "Filter waypoints by one or more traits.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/WaypointTraitSymbol"
                },
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WaypointTraitSymbol"
                  }
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched all waypoints in the system.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data",
                    "meta"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Waypoint"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "description": ""
                }
              }
            }
          }
        },
        "security": [
          {},
          {
            "AgentToken": []
          }
        ]
      },
      "parameters": [
        {
          "name": "systemSymbol",
          "in": "path",
          "description": "The system symbol",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/systems/{systemSymbol}/waypoints/{waypointSymbol}": {
      "get": {
        "tags": [
          "Systems"
        ],
        "summary": "Get Waypoint",
        "description": "View the details of a waypoint.\n\nIf the waypoint is uncharted, it will return the 'Uncharted' trait instead of its actual traits.",
        "operationId": "get-waypoint",
        "responses": {
          "200": {
            "description": "Successfully fetched waypoint.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Waypoint"
                    }
                  },
                  "description": ""
                }
              }
            }
          }
        },
        "security": [
          {},
          {
            "AgentToken": []
          }
        ]
      },
      "parameters": [
        {
          "name": "systemSymbol",
          "in": "path",
          "description": "The system symbol",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "waypointSymbol",
          "in": "path",
          "description": "The waypoint symbol",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/systems/{systemSymbol}/waypoints/{waypointSymbol}/market": {
      "get": {
        "tags": [
          "Systems"
        ],
        "summary": "Get Market",
        "description": "Retrieve imports, exports and exchange data from a marketplace. Requires a waypoint that has the `Marketplace` trait to use.\n\nSend a ship to the waypoint to access trade good prices and recent transactions. Refer to the [Market Overview page](https://docs.spacetraders.io/game-concepts/markets) to gain better a understanding of the market in the game.",
        "operationId": "get-market",
        "responses": {
          "200": {
            "description": "Successfully fetched the market.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Market"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {},
          {
            "AgentToken": []
          }
        ]
      },
      "parameters": [
        {
          "name": "systemSymbol",
          "in": "path",
          "description": "The system symbol",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "waypointSymbol",
          "in": "path",
          "description": "The waypoint symbol",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/systems/{systemSymbol}/waypoints/{waypointSymbol}/shipyard": {
      "get": {
        "tags": [
          "Systems"
        ],
        "summary": "Get Shipyard",
        "description": "Get the shipyard for a waypoint. Requires a waypoint that has the `Shipyard` trait to use. Send a ship to the waypoint to access data on ships that are currently available for purchase and recent transactions.",
        "operationId": "get-shipyard",
        "responses": {
          "200": {
            "description": "Successfully fetched the shipyard.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Shipyard"
                    }
                  },
                  "description": ""
                }
              }
            }
          }
        },
        "security": [
          {},
          {
            "AgentToken": []
          }
        ]
      },
      "parameters": [
        {
          "name": "systemSymbol",
          "in": "path",
          "description": "The system symbol",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "waypointSymbol",
          "in": "path",
          "description": "The waypoint symbol",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/systems/{systemSymbol}/waypoints/{waypointSymbol}/jump-gate": {
      "get": {
        "tags": [
          "Systems"
        ],
        "summary": "Get Jump Gate",
        "description": "Get jump gate details for a waypoint. Requires a waypoint of type `JUMP_GATE` to use.\n\nWaypoints connected to this jump gate can be ",
        "operationId": "get-jump-gate",
        "responses": {
          "200": {
            "description": "Successfully fetched jump gate.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/JumpGate"
                    }
                  },
                  "description": ""
                }
              }
            }
          }
        },
        "security": [
          {},
          {
            "AgentToken": []
          }
        ]
      },
      "parameters": [
        {
          "name": "systemSymbol",
          "in": "path",
          "description": "The system symbol",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "waypointSymbol",
          "in": "path",
          "description": "The waypoint symbol",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/systems/{systemSymbol}/waypoints/{waypointSymbol}/construction": {
      "get": {
        "tags": [
          "Systems"
        ],
        "summary": "Get Construction Site",
        "description": "Get construction details for a waypoint. Requires a waypoint with a property of `isUnderConstruction` to be true.",
        "operationId": "get-construction",
        "responses": {
          "200": {
            "description": "Successfully fetched construction site.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Construction"
                    }
                  },
                  "description": ""
                }
              }
            }
          }
        },
        "security": [
          {},
          {
            "AgentToken": []
          }
        ]
      },
      "parameters": [
        {
          "name": "systemSymbol",
          "in": "path",
          "description": "The system symbol",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "waypointSymbol",
          "in": "path",
          "description": "The waypoint symbol",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/systems/{systemSymbol}/waypoints/{waypointSymbol}/construction/supply": {
      "post": {
        "tags": [
          "Systems"
        ],
        "summary": "Supply Construction Site",
        "description": "Supply a construction site with the specified good. Requires a waypoint with a property of `isUnderConstruction` to be true.\n\nThe good must be in your ship's cargo. The good will be removed from your ship's cargo and added to the construction site's materials.",
        "operationId": "supply-construction",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "shipSymbol",
                  "tradeSymbol",
                  "units"
                ],
                "type": "object",
                "properties": {
                  "shipSymbol": {
                    "type": "string",
                    "description": "Symbol of the ship to use."
                  },
                  "tradeSymbol": {
                    "type": "string",
                    "description": "The symbol of the good to supply."
                  },
                  "units": {
                    "type": "integer",
                    "description": "Amount of units to supply."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully supplied construction site.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "required": [
                        "cargo",
                        "construction"
                      ],
                      "type": "object",
                      "properties": {
                        "construction": {
                          "$ref": "#/components/schemas/Construction"
                        },
                        "cargo": {
                          "$ref": "#/components/schemas/ShipCargo"
                        }
                      }
                    }
                  },
                  "description": ""
                }
              }
            }
          }
        },
        "security": [
          {
            "AgentToken": []
          }
        ]
      },
      "parameters": [
        {
          "name": "systemSymbol",
          "in": "path",
          "description": "The system symbol",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "waypointSymbol",
          "in": "path",
          "description": "The waypoint symbol",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/factions": {
      "get": {
        "tags": [
          "Factions"
        ],
        "summary": "List Factions",
        "description": "Return a paginated list of all the factions in the game.",
        "operationId": "get-factions",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "What entry offset to request",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "How many entries to return per page",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 20,
              "minimum": 1,
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succesfully fetched factions.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data",
                    "meta"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Faction"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {},
          {
            "AgentToken": []
          }
        ]
      }
    },
    "/factions/{factionSymbol}": {
      "get": {
        "tags": [
          "Factions"
        ],
        "summary": "Get Faction",
        "description": "View the details of a faction.",
        "operationId": "get-faction",
        "responses": {
          "200": {
            "description": "Successfully fetched a faction.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Faction"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "factionSymbol",
          "in": "path",
          "description": "The faction symbol",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string",
            "example": "COSMIC"
          }
        }
      ]
    },
    "/my/agent": {
      "get": {
        "tags": [
          "Agents"
        ],
        "summary": "Get Agent",
        "description": "Fetch your agent's details.",
        "operationId": "get-my-agent",
        "responses": {
          "200": {
            "description": "Successfully fetched agent details.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Agent"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "AgentToken": []
          }
        ]
      }
    },
    "/agents": {
      "get": {
        "tags": [
          "Agents"
        ],
        "summary": "List Agents",
        "description": "Fetch agents details.",
        "operationId": "get-agents",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "What entry offset to request",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "How many entries to return per page",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 20,
              "minimum": 1,
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched agents details.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data",
                    "meta"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Agent"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {},
          {
            "AgentToken": []
          }
        ]
      }
    },
    "/agents/{agentSymbol}": {
      "get": {
        "tags": [
          "Agents"
        ],
        "summary": "Get Public Agent",
        "description": "Fetch agent details.",
        "operationId": "get-agent",
        "parameters": [
          {
            "name": "agentSymbol",
            "in": "path",
            "description": "The agent symbol",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "default": "FEBA66"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched agent details.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Agent"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {},
          {
            "AgentToken": []
          }
        ]
      }
    },
    "/my/contracts": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "List Contracts",
        "description": "Return a paginated list of all your contracts.",
        "operationId": "get-contracts",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "What entry offset to request",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "How many entries to return per page",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 20,
              "minimum": 1,
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succesfully listed contracts.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data",
                    "meta"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Contract"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "description": ""
                }
              }
            }
          }
        },
        "security": [
          {
            "AgentToken": []
          }
        ]
      }
    },
    "/my/contracts/{contractId}": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "Get Contract",
        "description": "Get the details of a contract by ID.",
        "operationId": "get-contract",
        "responses": {
          "200": {
            "description": "Successfully fetched contract.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Contract"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "AgentToken": []
          }
        ]
      },
      "parameters": [
        {
          "name": "contractId",
          "in": "path",
          "description": "The contract ID",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/my/contracts/{contractId}/accept": {
      "post": {
        "tags": [
          "Contracts"
        ],
        "summary": "Accept Contract",
        "description": "Accept a contract by ID. \n\nYou can only accept contracts that were offered to you, were not accepted yet, and whose deadlines has not passed yet.",
        "operationId": "accept-contract",
        "responses": {
          "200": {
            "description": "Succesfully accepted contract.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "required": [
                        "agent",
                        "contract"
                      ],
                      "type": "object",
                      "properties": {
                        "agent": {
                          "$ref": "#/components/schemas/Agent"
                        },
                        "contract": {
                          "$ref": "#/components/schemas/Contract"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "AgentToken": []
          }
        ]
      },
      "parameters": [
        {
          "name": "contractId",
          "in": "path",
          "description": "The contract ID to accept.",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/my/contracts/{contractId}/deliver": {
      "post": {
        "tags": [
          "Contracts"
        ],
        "summary": "Deliver Cargo to Contract",
        "description": "Deliver cargo to a contract.\n\nIn order to use this API, a ship must be at the delivery location (denoted in the delivery terms as `destinationSymbol` of a contract) and must have a number of units of a good required by this contract in its cargo.\n\nCargo that was delivered will be removed from the ship's cargo.",
        "operationId": "deliver-contract",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "shipSymbol",
                  "tradeSymbol",
                  "units"
                ],
                "type": "object",
                "properties": {
                  "shipSymbol": {
                    "type": "string",
                    "description": "Symbol of a ship located in the destination to deliver a contract and that has a good to deliver in its cargo."
                  },
                  "tradeSymbol": {
                    "type": "string",
                    "description": "The symbol of the good to deliver."
                  },
                  "units": {
                    "type": "integer",
                    "description": "Amount of units to deliver."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully delivered cargo to contract.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "required": [
                        "cargo",
                        "contract"
                      ],
                      "type": "object",
                      "properties": {
                        "contract": {
                          "$ref": "#/components/schemas/Contract"
                        },
                        "cargo": {
                          "$ref": "#/components/schemas/ShipCargo"
                        }
                      }
                    }
                  },
                  "description": ""
                }
              }
            }
          }
        },
        "security": [
          {
            "AgentToken": []
          }
        ]
      },
      "parameters": [
        {
          "name": "contractId",
          "in": "path",
          "description": "The ID of the contract.",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/my/contracts/{contractId}/fulfill": {
      "post": {
        "tags": [
          "Contracts"
        ],
        "summary": "Fulfill Contract",
        "description": "Fulfill a contract. Can only be used on contracts that have all of their delivery terms fulfilled.",
        "operationId": "fulfill-contract",
        "responses": {
          "200": {
            "description": "Successfully fulfilled a contract.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "required": [
                        "agent",
                        "contract"
                      ],
                      "type": "object",
                      "properties": {
                        "agent": {
                          "$ref": "#/components/schemas/Agent"
                        },
                        "contract": {
                          "$ref": "#/components/schemas/Contract"
                        }
                      }
                    }
                  },
                  "description": ""
                }
              }
            }
          }
        },
        "security": [
          {
            "AgentToken": []
          }
        ]
      },
      "parameters": [
        {
          "name": "contractId",
          "in": "path",
          "description": "The ID of the contract to fulfill.",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/my/ships": {
      "get": {
        "tags": [
          "Fleet"
        ],
        "summary": "List Ships",
        "description": "Return a paginated list of all of ships under your agent's ownership.",
        "operationId": "get-my-ships",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "What entry offset to request",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "How many entries to return per page",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 20,
              "minimum": 1,
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succesfully listed ships.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data",
                    "meta"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Ship"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "description": ""
                }
              }
            }
          }
        },
        "security": [
          {
            "AgentToken": []
          }
        ]
      },
      "post": {
        "tags": [
          "Fleet"
        ],
        "summary": "Purchase Ship",
        "description": "Purchase a ship from a Shipyard. In order to use this function, a ship under your agent's ownership must be in a waypoint that has the `Shipyard` trait, and the Shipyard must sell the type of the desired ship.\n\nShipyards typically offer ship types, which are predefined templates of ships that have dedicated roles. A template comes with a preset of an engine, a reactor, and a frame. It may also include a few modules and mounts.",
        "operationId": "purchase-ship",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "shipType",
                  "waypointSymbol"
                ],
                "type": "object",
                "properties": {
                  "shipType": {
                    "$ref": "#/components/schemas/ShipType"
                  },
                  "waypointSymbol": {
                    "type": "string",
                    "description": "The symbol of the waypoint you want to purchase the ship at."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Purchased ship successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "required": [
                        "agent",
                        "ship",
                        "transaction"
                      ],
                      "type": "object",
                      "properties": {
                        "agent": {
                          "$ref": "#/components/schemas/Agent"
                        },
                        "ship": {
                          "$ref": "#/components/schemas/Ship"
                        },
                        "transaction": {
                          "$ref": "#/components/schemas/ShipyardTransaction"
                        }
                      }
                    }
                  },
                  "description": ""
                }
              }
            }
          }
        },
        "security": [
          {
            "AgentToken": []
          }
        ]
      }
    },
    "/my/ships/{shipSymbol}": {
      "get": {
        "tags": [
          "Fleet"
        ],
        "summary": "Get Ship",
        "description": "Retrieve the details of a ship under your agent's ownership.",
        "operationId": "get-my-ship",
        "responses": {
          "200": {
            "description": "Successfully fetched ship.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Ship"
                    }
                  },
                  "description": ""
                }
              }
            }
          }
        },
        "security": [
          {
            "AgentToken": []
          }
        ]
      },
      "parameters": [
        {
          "name": "shipSymbol",
          "in": "path",
          "description": "The symbol of the ship.",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/my/ships/{shipSymbol}/cargo": {
      "get": {
        "tags": [
          "Fleet"
        ],
        "summary": "Get Ship Cargo",
        "description": "Retrieve the cargo of a ship under your agent's ownership.",
        "operationId": "get-my-ship-cargo",
        "responses": {
          "200": {
            "description": "Successfully fetched ship's cargo.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ShipCargo"
                    }
                  },
                  "description": ""
                }
              }
            }
          }
        },
        "security": [
          {
            "AgentToken": []
          }
        ]
      },
      "parameters": [
        {
          "name": "shipSymbol",
          "in": "path",
          "description": "The symbol of the ship.",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/my/ships/{shipSymbol}/orbit": {
      "post": {
        "tags": [
          "Fleet"
        ],
        "summary": "Orbit Ship",
        "description": "Attempt to move your ship into orbit at its current location. The request will only succeed if your ship is capable of moving into orbit at the time of the request.\n\nOrbiting ships are able to do actions that require the ship to be above surface such as navigating or extracting, but cannot access elements in their current waypoint, such as the market or a shipyard.\n\nThe endpoint is idempotent - successive calls will succeed even if the ship is already in orbit.",
        "operationId": "orbit-ship",
        "responses": {
          "200": {
            "description": "The ship has successfully moved into orbit at its current location.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Orbit Ship 200 Response",
                  "required": [
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "required": [
                        "nav"
                      ],
                      "type": "object",
                      "properties": {
                        "nav": {
                          "$ref": "#/components/schemas/ShipNav"
                        }
                      }
                    }
                  },
                  "description": ""
                }
              }
            }
          }
        },
        "security": [
          {
            "AgentToken": []
          }
        ]
      },
      "parameters": [
        {
          "name": "shipSymbol",
          "in": "path",
          "description": "The symbol of the ship.",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/my/ships/{shipSymbol}/refine": {
      "post": {
        "tags": [
          "Fleet"
        ],
        "summary": "Ship Refine",
        "description": "Attempt to refine the raw materials on your ship. The request will only succeed if your ship is capable of refining at the time of the request. In order to be able to refine, a ship must have goods that can be refined and have installed a `Refinery` module that can refine it.\n\nWhen refining, 30 basic goods will be converted into 10 processed goods.",
        "operationId": "ship-refine",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "produce"
                ],
                "type": "object",
                "properties": {
                  "produce": {
                    "type": "string",
                    "description": "The type of good to produce out of the refining process.",
                    "enum": [
                      "IRON",
                      "COPPER",
                      "SILVER",
                      "GOLD",
                      "ALUMINUM",
                      "PLATINUM",
                      "URANITE",
                      "MERITIUM",
                      "FUEL"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The ship has successfully refined goods.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Ship Refine 201 Response",
                  "required": [
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "required": [
                        "cargo",
                        "consumed",
                        "cooldown",
                        "produced"
                      ],
                      "type": "object",
                      "properties": {
                        "cargo": {
                          "$ref": "#/components/schemas/ShipCargo"
                        },
                        "cooldown": {
                          "$ref": "#/components/schemas/Cooldown"
                        },
                        "produced": {
                          "type": "array",
                          "description": "Goods that were produced by this refining process.",
                          "items": {
                            "required": [
                              "tradeSymbol",
                              "units"
                            ],
                            "type": "object",
                            "properties": {
                              "tradeSymbol": {
                                "type": "string",
                                "description": "Symbol of the good."
                              },
                              "units": {
                                "type": "integer",
                                "description": "Amount of units of the good."
                              }
                            }
                          }
                        },
                        "consumed": {
                          "type": "array",
                          "description": "Goods that were consumed during this refining process.",
                          "items": {
                            "required": [
                              "tradeSymbol",
                              "units"
                            ],
                            "type": "object",
                            "properties": {
                              "tradeSymbol": {
                                "type": "string",
                                "description": "Symbol of the good."
                              },
                              "units": {
                                "type": "integer",
                                "description": "Amount of units of the good."
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "AgentToken": []
          }
        ]
      },
      "parameters": [
        {
          "name": "shipSymbol",
          "in": "path",
          "description": "The symbol of the ship.",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/my/ships/{shipSymbol}/chart": {
      "post": {
        "tags": [
          "Fleet"
        ],
        "summary": "Create Chart",
        "description": "Command a ship to chart the waypoint at its current location.\n\nMost waypoints in the universe are uncharted by default. These waypoints have their traits hidden until they have been charted by a ship.\n\nCharting a waypoint will record your agent as the one who created the chart, and all other agents would also be able to see the waypoint's traits.",
        "operationId": "create-chart",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "required": [
                        "chart",
                        "waypoint"
                      ],
                      "type": "object",
                      "properties": {
                        "chart": {
                          "$ref": "#/components/schemas/Chart"
                        },
                        "waypoint": {
                          "$ref": "#/components/schemas/Waypoint"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "AgentToken": []
          }
        ]
      },
      "parameters": [
        {
          "name": "shipSymbol",
          "in": "path",
          "description": "The symbol of the ship.",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/my/ships/{shipSymbol}/cooldown": {
      "get": {
        "tags": [
          "Fleet"
        ],
        "summary": "Get Ship Cooldown",
        "description": "Retrieve the details of your ship's reactor cooldown. Some actions such as activating your jump drive, scanning, or extracting resources taxes your reactor and results in a cooldown.\n\nYour ship cannot perform additional actions until your cooldown has expired. The duration of your cooldown is relative to the power consumption of the related modules or mounts for the action taken.\n\nResponse returns a 204 status code (no-content) when the ship has no cooldown.",
        "operationId": "get-ship-cooldown",
        "responses": {
          "200": {
            "description": "Succesfully fetched ship's cooldown.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Cooldown"
                    }
                  },
                  "description": ""
                }
              }
            }
          },
          "204": {
            "description": "No cooldown."
          }
        },
        "security": [
          {
            "AgentToken": []
          }
        ]
      },
      "parameters": [
        {
          "name": "shipSymbol",
          "in": "path",
          "description": "The symbol of the ship.",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/my/ships/{shipSymbol}/dock": {
      "post": {
        "tags": [
          "Fleet"
        ],
        "summary": "Dock Ship",
        "description": "Attempt to dock your ship at its current location. Docking will only succeed if your ship is capable of docking at the time of the request.\n\nDocked ships can access elements in their current location, such as the market or a shipyard, but cannot do actions that require the ship to be above surface such as navigating or extracting.\n\nThe endpoint is idempotent - successive calls will succeed even if the ship is already docked.",
        "operationId": "dock-ship",
        "responses": {
          "200": {
            "description": "The ship has successfully docked at its current location.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Dock Ship 200 Response",
                  "required": [
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "required": [
                        "nav"
                      ],
                      "type": "object",
                      "properties": {
                        "nav": {
                          "$ref": "#/components/schemas/ShipNav"
                        }
                      }
                    }
                  },
                  "description": ""
                }
              }
            }
          }
        },
        "security": [
          {
            "AgentToken": []
          }
        ]
      },
      "parameters": [
        {
          "name": "shipSymbol",
          "in": "path",
          "description": "The symbol of the ship.",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/my/ships/{shipSymbol}/survey": {
      "post": {
        "tags": [
          "Fleet"
        ],
        "summary": "Create Survey",
        "description": "Create surveys on a waypoint that can be extracted such as asteroid fields. A survey focuses on specific types of deposits from the extracted location. When ships extract using this survey, they are guaranteed to procure a high amount of one of the goods in the survey.\n\nIn order to use a survey, send the entire survey details in the body of the extract request.\n\nEach survey may have multiple deposits, and if a symbol shows up more than once, that indicates a higher chance of extracting that resource.\n\nYour ship will enter a cooldown after surveying in which it is unable to perform certain actions. Surveys will eventually expire after a period of time or will be exhausted after being extracted several times based on the survey's size. Multiple ships can use the same survey for extraction.\n\nA ship must have the `Surveyor` mount installed in order to use this function.",
        "operationId": "create-survey",
        "responses": {
          "201": {
            "description": "Surveys has been created.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "required": [
                        "cooldown",
                        "surveys"
                      ],
                      "type": "object",
                      "properties": {
                        "cooldown": {
                          "$ref": "#/components/schemas/Cooldown"
                        },
                        "surveys": {
                          "type": "array",
                          "description": "Surveys created by this action.",
                          "items": {
                            "$ref": "#/components/schemas/Survey"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "AgentToken": []
          }
        ]
      },
      "parameters": [
        {
          "name": "shipSymbol",
          "in": "path",
          "description": "The symbol of the ship.",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/my/ships/{shipSymbol}/extract": {
      "post": {
        "tags": [
          "Fleet"
        ],
        "summary": "Extract Resources",
        "description": "Extract resources from a waypoint that can be extracted, such as asteroid fields, into your ship. Send an optional survey as the payload to target specific yields.\n\nThe ship must be in orbit to be able to extract and must have mining equipments installed that can extract goods, such as the `Gas Siphon` mount for gas-based goods or `Mining Laser` mount for ore-based goods.\n\nThe survey property is now deprecated. See the `extract/survey` endpoint for more details.",
        "operationId": "extract-resources",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "survey": {
                    "$ref": "#/components/schemas/Survey"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Extracted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "required": [
                        "cargo",
                        "cooldown",
                        "events",
                        "extraction"
                      ],
                      "type": "object",
                      "properties": {
                        "cooldown": {
                          "$ref": "#/components/schemas/Cooldown"
                        },
                        "extraction": {
                          "$ref": "#/components/schemas/Extraction"
                        },
                        "cargo": {
                          "$ref": "#/components/schemas/ShipCargo"
                        },
                        "events": {
                          "type": "array",
                          "items": {
                            "oneOf": [
                              {
                                "$ref": "#/components/schemas/ShipConditionEvent"
                              }
                            ]
                          }
                        }
                      }
                    }
                  },
                  "description": ""
                }
              }
            }
          }
        },
        "security": [
          {
            "AgentToken": []
          }
        ]
      },
      "parameters": [
        {
          "name": "shipSymbol",
          "in": "path",
          "description": "The ship symbol.",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/my/ships/{shipSymbol}/siphon": {
      "post": {
        "tags": [
          "Fleet"
        ],
        "summary": "Siphon Resources",
        "description": "Siphon gases, such as hydrocarbon, from gas giants.\n\nThe ship must be in orbit to be able to siphon and must have siphon mounts and a gas processor installed.",
        "operationId": "siphon-resources",
        "responses": {
          "201": {
            "description": "Siphon successful.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "required": [
                        "cargo",
                        "cooldown",
                        "events",
                        "siphon"
                      ],
                      "type": "object",
                      "properties": {
                        "cooldown": {
                          "$ref": "#/components/schemas/Cooldown"
                        },
                        "siphon": {
                          "$ref": "#/components/schemas/Siphon"
                        },
                        "cargo": {
                          "$ref": "#/components/schemas/ShipCargo"
                        },
                        "events": {
                          "type": "array",
                          "items": {
                            "oneOf": [
                              {
                                "$ref": "#/components/schemas/ShipConditionEvent"
                              }
                            ]
                          }
                        }
                      }
                    }
                  },
                  "description": ""
                }
              }
            }
          }
        },
        "security": [
          {
            "AgentToken": []
          }
        ]
      },
      "parameters": [
        {
          "name": "shipSymbol",
          "in": "path",
          "description": "The ship symbol.",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/my/ships/{shipSymbol}/extract/survey": {
      "post": {
        "tags": [
          "Fleet"
        ],
        "summary": "Extract Resources with Survey",
        "description": "Use a survey when extracting resources from a waypoint. This endpoint requires a survey as the payload, which allows your ship to extract specific yields.\n\nSend the full survey object as the payload which will be validated according to the signature. If the signature is invalid, or any properties of the survey are changed, the request will fail.",
        "operationId": "extract-resources-with-survey",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Survey"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Extracted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "required": [
                        "cargo",
                        "cooldown",
                        "events",
                        "extraction"
                      ],
                      "type": "object",
                      "properties": {
                        "cooldown": {
                          "$ref": "#/components/schemas/Cooldown"
                        },
                        "extraction": {
                          "$ref": "#/components/schemas/Extraction"
                        },
                        "cargo": {
                          "$ref": "#/components/schemas/ShipCargo"
                        },
                        "events": {
                          "type": "array",
                          "items": {
                            "oneOf": [
                              {
                                "$ref": "#/components/schemas/ShipConditionEvent"
                              }
                            ]
                          }
                        }
                      }
                    }
                  },
                  "description": ""
                }
              }
            }
          }
        },
        "security": [
          {
            "AgentToken": []
          }
        ]
      },
      "parameters": [
        {
          "name": "shipSymbol",
          "in": "path",
          "description": "The ship symbol.",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/my/ships/{shipSymbol}/jettison": {
      "post": {
        "tags": [
          "Fleet"
        ],
        "summary": "Jettison Cargo",
        "description": "Jettison cargo from your ship's cargo hold.",
        "operationId": "jettison",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "symbol",
                  "units"
                ],
                "type": "object",
                "properties": {
                  "symbol": {
                    "$ref": "#/components/schemas/TradeSymbol"
                  },
                  "units": {
                    "minimum": 1,
                    "type": "integer",
                    "description": "Amount of units to jettison of this good."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Jettison successful.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "required": [
                        "cargo"
                      ],
                      "type": "object",
                      "properties": {
                        "cargo": {
                          "$ref": "#/components/schemas/ShipCargo"
                        }
                      }
                    }
                  },
                  "description": ""
                }
              }
            }
          }
        },
        "security": [
          {
            "AgentToken": []
          }
        ]
      },
      "parameters": [
        {
          "name": "shipSymbol",
          "in": "path",
          "description": "The ship symbol.",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/my/ships/{shipSymbol}/jump": {
      "post": {
        "tags": [
          "Fleet"
        ],
        "summary": "Jump Ship",
        "description": "Jump your ship instantly to a target connected waypoint. The ship must be in orbit to execute a jump.\n\nA unit of antimatter is purchased and consumed from the market when jumping. The price of antimatter is determined by the market and is subject to change. A ship can only jump to connected waypoints",
        "operationId": "jump-ship",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "waypointSymbol"
                ],
                "type": "object",
                "properties": {
                  "waypointSymbol": {
                    "type": "string",
                    "description": "The symbol of the waypoint to jump to. The destination must be a connected waypoint."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Jump successful.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "required": [
                        "agent",
                        "cooldown",
                        "nav",
                        "transaction"
                      ],
                      "type": "object",
                      "properties": {
                        "nav": {
                          "$ref": "#/components/schemas/ShipNav"
                        },
                        "cooldown": {
                          "$ref": "#/components/schemas/Cooldown"
                        },
                        "transaction": {
                          "$ref": "#/components/schemas/MarketTransaction"
                        },
                        "agent": {
                          "$ref": "#/components/schemas/Agent"
                        }
                      }
                    }
                  },
                  "description": ""
                }
              }
            }
          }
        },
        "security": [
          {
            "AgentToken": []
          }
        ]
      },
      "parameters": [
        {
          "name": "shipSymbol",
          "in": "path",
          "description": "The ship symbol.",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/my/ships/{shipSymbol}/navigate": {
      "post": {
        "tags": [
          "Fleet"
        ],
        "summary": "Navigate Ship",
        "description": "Navigate to a target destination. The ship must be in orbit to use this function. The destination waypoint must be within the same system as the ship's current location. Navigating will consume the necessary fuel from the ship's manifest based on the distance to the target waypoint.\n\nThe returned response will detail the route information including the expected time of arrival. Most ship actions are unavailable until the ship has arrived at it's destination.\n\nTo travel between systems, see the ship's Warp or Jump actions.",
        "operationId": "navigate-ship",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "waypointSymbol"
                ],
                "type": "object",
                "properties": {
                  "waypointSymbol": {
                    "type": "string",
                    "description": "The target destination."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The successful transit information including the route details and changes to ship fuel. The route includes the expected time of arrival.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "required": [
                        "events",
                        "fuel",
                        "nav"
                      ],
                      "type": "object",
                      "properties": {
                        "fuel": {
                          "$ref": "#/components/schemas/ShipFuel"
                        },
                        "nav": {
                          "$ref": "#/components/schemas/ShipNav"
                        },
                        "events": {
                          "type": "array",
                          "items": {
                            "oneOf": [
                              {
                                "$ref": "#/components/schemas/ShipConditionEvent"
                              }
                            ]
                          }
                        }
                      }
                    }
                  },
                  "description": ""
                }
              }
            }
          }
        },
        "security": [
          {
            "AgentToken": []
          }
        ]
      },
      "parameters": [
        {
          "name": "shipSymbol",
          "in": "path",
          "description": "The ship symbol.",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/my/ships/{shipSymbol}/nav": {
      "get": {
        "tags": [
          "Fleet"
        ],
        "summary": "Get Ship Nav",
        "description": "Get the current nav status of a ship.",
        "operationId": "get-ship-nav",
        "responses": {
          "200": {
            "description": "The current nav status of the ship.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ShipNav"
                    }
                  },
                  "description": ""
                }
              }
            }
          }
        },
        "security": [
          {
            "AgentToken": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Fleet"
        ],
        "summary": "Patch Ship Nav",
        "description": "Update the nav configuration of a ship.\n\nCurrently only supports configuring the Flight Mode of the ship, which affects its speed and fuel consumption.",
        "operationId": "patch-ship-nav",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "flightMode": {
                    "$ref": "#/components/schemas/ShipNavFlightMode"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated nav data of the ship.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ShipNav"
                    }
                  },
                  "description": ""
                }
              }
            }
          }
        },
        "security": [
          {
            "AgentToken": []
          }
        ]
      },
      "parameters": [
        {
          "name": "shipSymbol",
          "in": "path",
          "description": "The ship symbol.",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/my/ships/{shipSymbol}/warp": {
      "post": {
        "tags": [
          "Fleet"
        ],
        "summary": "Warp Ship",
        "description": "Warp your ship to a target destination in another system. The ship must be in orbit to use this function and must have the `Warp Drive` module installed. Warping will consume the necessary fuel from the ship's manifest.\n\nThe returned response will detail the route information including the expected time of arrival. Most ship actions are unavailable until the ship has arrived at its destination.",
        "operationId": "warp-ship",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "waypointSymbol"
                ],
                "type": "object",
                "properties": {
                  "waypointSymbol": {
                    "type": "string",
                    "description": "The target destination."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The successful transit information including the route details and changes to ship fuel. The route includes the expected time of arrival.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "required": [
                        "fuel",
                        "nav"
                      ],
                      "type": "object",
                      "properties": {
                        "fuel": {
                          "$ref": "#/components/schemas/ShipFuel"
                        },
                        "nav": {
                          "$ref": "#/components/schemas/ShipNav"
                        }
                      }
                    }
                  },
                  "description": ""
                }
              }
            }
          }
        },
        "security": [
          {
            "AgentToken": []
          }
        ]
      },
      "parameters": [
        {
          "name": "shipSymbol",
          "in": "path",
          "description": "The ship symbol.",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/my/ships/{shipSymbol}/sell": {
      "post": {
        "tags": [
          "Fleet"
        ],
        "summary": "Sell Cargo",
        "description": "Sell cargo in your ship to a market that trades this cargo. The ship must be docked in a waypoint that has the `Marketplace` trait in order to use this function.",
        "operationId": "sell-cargo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "SellCargoRequest",
                "required": [
                  "symbol",
                  "units"
                ],
                "type": "object",
                "properties": {
                  "symbol": {
                    "$ref": "#/components/schemas/TradeSymbol"
                  },
                  "units": {
                    "type": "integer",
                    "description": "Amounts of units to sell of the selected good."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Cargo was successfully sold.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Sell Cargo 201 Response",
                  "required": [
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "required": [
                        "agent",
                        "cargo",
                        "transaction"
                      ],
                      "type": "object",
                      "properties": {
                        "agent": {
                          "$ref": "#/components/schemas/Agent"
                        },
                        "cargo": {
                          "$ref": "#/components/schemas/ShipCargo"
                        },
                        "transaction": {
                          "$ref": "#/components/schemas/MarketTransaction"
                        }
                      }
                    }
                  },
                  "description": ""
                }
              }
            }
          }
        },
        "security": [
          {
            "AgentToken": []
          }
        ]
      },
      "parameters": [
        {
          "name": "shipSymbol",
          "in": "path",
          "description": "Symbol of a ship.",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/my/ships/{shipSymbol}/scan/systems": {
      "post": {
        "tags": [
          "Fleet"
        ],
        "summary": "Scan Systems",
        "description": "Scan for nearby systems, retrieving information on the systems' distance from the ship and their waypoints. Requires a ship to have the `Sensor Array` mount installed to use.\n\nThe ship will enter a cooldown after using this function, during which it cannot execute certain actions.",
        "operationId": "create-ship-system-scan",
        "responses": {
          "201": {
            "description": "Successfully scanned for nearby systems.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "required": [
                        "cooldown",
                        "systems"
                      ],
                      "type": "object",
                      "properties": {
                        "cooldown": {
                          "$ref": "#/components/schemas/Cooldown"
                        },
                        "systems": {
                          "type": "array",
                          "description": "List of scanned systems.",
                          "items": {
                            "$ref": "#/components/schemas/ScannedSystem"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "AgentToken": []
          }
        ]
      },
      "parameters": [
        {
          "name": "shipSymbol",
          "in": "path",
          "description": "The ship symbol.",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/my/ships/{shipSymbol}/scan/waypoints": {
      "post": {
        "tags": [
          "Fleet"
        ],
        "summary": "Scan Waypoints",
        "description": "Scan for nearby waypoints, retrieving detailed information on each waypoint in range. Scanning uncharted waypoints will allow you to ignore their uncharted state and will list the waypoints' traits.\n\nRequires a ship to have the `Sensor Array` mount installed to use.\n\nThe ship will enter a cooldown after using this function, during which it cannot execute certain actions.",
        "operationId": "create-ship-waypoint-scan",
        "responses": {
          "201": {
            "description": "Successfully scanned for nearby waypoints.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "required": [
                        "cooldown",
                        "waypoints"
                      ],
                      "type": "object",
                      "properties": {
                        "cooldown": {
                          "$ref": "#/components/schemas/Cooldown"
                        },
                        "waypoints": {
                          "type": "array",
                          "description": "List of scanned waypoints.",
                          "items": {
                            "$ref": "#/components/schemas/ScannedWaypoint"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "AgentToken": []
          }
        ]
      },
      "parameters": [
        {
          "name": "shipSymbol",
          "in": "path",
          "description": "The ship symbol.",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/my/ships/{shipSymbol}/scan/ships": {
      "post": {
        "tags": [
          "Fleet"
        ],
        "summary": "Scan Ships",
        "description": "Scan for nearby ships, retrieving information for all ships in range.\n\nRequires a ship to have the `Sensor Array` mount installed to use.\n\nThe ship will enter a cooldown after using this function, during which it cannot execute certain actions.",
        "operationId": "create-ship-ship-scan",
        "responses": {
          "201": {
            "description": "Successfully scanned for nearby ships.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "required": [
                        "cooldown",
                        "ships"
                      ],
                      "type": "object",
                      "properties": {
                        "cooldown": {
                          "$ref": "#/components/schemas/Cooldown"
                        },
                        "ships": {
                          "type": "array",
                          "description": "List of scanned ships.",
                          "items": {
                            "$ref": "#/components/schemas/ScannedShip"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "AgentToken": []
          }
        ]
      },
      "parameters": [
        {
          "name": "shipSymbol",
          "in": "path",
          "description": "The ship symbol.",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/my/ships/{shipSymbol}/refuel": {
      "post": {
[...]
